{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $github_user := promptStringOnce . "github_user" "GitHub username" -}}

# This checks for the OS and the specific flavor of Linux for easier conditionals.
{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

[data]
	osid 			  = {{ $osid | quote }}
	email             = {{ $email | quote }}
	github_user       = {{ $github_user | quote }}
	xdgCacheDir       = "{{ .chezmoi.homeDir }}/.cache"
	xdgConfigDir      = "{{ .chezmoi.homeDir }}/.config"
	xdgDataDir        = "{{ .chezmoi.homeDir }}/.local/share"
	xdgStateDir       = "{{ .chezmoi.homeDir }}/.local/state"

[diff]
	{{ if lookPath "delta" -}}command = "delta"
	{{ end -}}
	exclude = ["scripts"]

{{ if lookPath "hx" -}}
[edit]
	command = "hx"
{{ end -}}

[git]
	autoCommit = true
	commitMessageTemplate = "{{- "{{" -}} promptString \"Commit message\" {{- "}}" -}}"
