window-rule {
    geometry-corner-radius 6
    clip-to-geometry true
    draw-border-with-background false
}

window-rule {
    match is-active=false

    opacity 0.8
}

window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

// Window rule to make screencasts visible
window-rule {
    match is-window-cast-target=true

    border {
        on
        active-color "#f6c177"
        inactive-color "#f6c177"
    }

    focus-ring {
        active-color "#f6c177"
        inactive-color "#f6c177"

    }
}

// Window rule for the MEGAsync tray
window-rule {
    match app-id="nz.co.mega.megasync" title="MEGAsync"

    open-floating true
    default-column-width { fixed 400; }
    default-window-height { fixed 560; }
    geometry-corner-radius 12
    default-floating-position x=64 y=8 relative-to="top-right"
}

// Window rule for the MEGAsync tray
window-rule {
    match app-id="^MEGAsync$" title="MEGAsync"

    open-floating true
    default-column-width { fixed 400; }
    default-window-height { fixed 560; }
    geometry-corner-radius 12
    default-floating-position x=64 y=8 relative-to="top-right"
}

// Window rule for Steam notifications
window-rule {
    match app-id="steam" title=r#"^notificationtoasts_\d+_desktop$"#
    default-floating-position x=10 y=10 relative-to="bottom-right"
    open-focused false
}

// Protect password manager from being captured in screensharing
window-rule {
    match app-id="1password"

    block-out-from "screencast"
}

// DMS layer rules to avoid screencapture issues
// Block out sensitive components from screencasts
layer-rule {
    match namespace=r#"^dms:clipboard$"#

    block-out-from "screencast"
}

layer-rule {
    match namespace=r#"^dms:notification*$"#

    block-out-from "screencast"
}
